/* This file will hold styles that are loaded using the same media query as the wide grid. */



.frontpage-block-menu.block-menu-join-menu .block-inner,
.frontpage-block-menu.block-menu-shift-menu .block-inner,
.frontpage-block-menu.block-menu-engage-menu .block-inner,
.frontpage-block-menu.block-menu-support-menu .block-inner{
	height: 250px;
	margin-bottom: 20px;
}

.zone-preface  .block-menu-join-menu .block-inner .block-title ,
.zone-preface  .block-menu-shift-menu .block-inner .block-title ,
.zone-preface  .block-menu-engage-menu .block-inner .block-title ,
.zone-preface  .block-menu-support-menu .block-inner .block-title {
	position: absolute;
	left: 0;
	right: 0;
	top: 80px;
	font-size: 60px;
}

.frontpage-block-menu.block-menu .content .menu > * a:after{
	font-size: 30px;
	line-height: 1px;
}


