/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

 .zone-preface  .block-menu-join-menu .block-inner,
.zone-preface  .block-menu-shift-menu .block-inner,
.zone-preface  .block-menu-engage-menu .block-inner,
.zone-preface  .block-menu-support-menu .block-inner{
	height: 220px;
	margin-bottom: 20px;
}

.zone-preface  .block-menu-join-menu .block-inner .block-title ,
.zone-preface  .block-menu-shift-menu .block-inner .block-title ,
.zone-preface  .block-menu-engage-menu .block-inner .block-title ,
.zone-preface  .block-menu-support-menu .block-inner .block-title {
	position: absolute;
	left: 0;
	right: 0;
	top: 90px;
	bottom: 90px;
	font-size: 40px;
}


.block-menu-side-menu-innerpage ul.menu li a{
  padding-top:6px;
  padding-left: 5px;
  padding-bottom:3px;
  color: #002d56;
  text-decoration:none;
  display:block;
  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;

}
.block-menu-side-menu ul.menu li a{
  padding-top:7px;
  padding-left: 12px;
  padding-bottom:3px;
	color: #002d56;
	text-decoration:none;
	display:block;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
}

.frontpage-block-menu .content a{
  font-size: 14px;
}

.zone-postscript-wrapper .block-title {
  font-size: 30px;
}
